bs4
requests
opencv-contrib-python
numpy
absl-py
pillow
smbus2
bme680
wikipedia
certifi
chardet
cookies
dj-database-url
django
django
django-cors-headers
djangorestframework
djangorestframework-jwt
forecastiopy
gunicorn
idna
psycopg2-binary
PyJWT
python-decouple
pytz
response
six
urllib3
whitenoise